# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
.pnp/
.pnp.js

# Build directories
dist-ssr/
out/
build/
!docs/

# Local environment files
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
*.lnk

# Lockfiles
yarn.lock
package-lock.json
pnpm-lock.yaml

# GitHub-specific files
.gitlab/
.hg/

# Temporary files and folders
.tmp/
.cache/
*.tmp
*.bak
*.swp
*.pid
*.seed
*.pid.lock

# Others
coverage/
*.crt
*.pem

# Ignore NPM debug files
.npmrc
.npmignore
.nvmrc

# Ignore static files (just an example, adjust if necessary)
assets/temp/  # Ignorera endast tillfälliga filer
assets/**/*.psd

printFilesJson.cjs
all_analysis.json
all_content.txt
all_code_analysis.json
all_code_content.txt
all_config_analysis.json
all_config_content.txt
dist_folder_analysis.json
dist_folder_content.txt
work_related_analysis.json
work_related_content.txt